// Specific CSS for your home-page
.container {
  background-position: center;
  background-color: #1CDD87;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 60px 60px;
  width: 1250px;
  height: 350px;
}

h1 {
  font-size: 70px;
  color: azure;
  text-align: center;
  // padding: 25px;
}

h3 {
  font-family: $body-font;
}

p {
  text-align: center;
  font-size: large;
}

.cards {
  display: flex;
  margin: 60px;
  
}

.home-p {
  padding: 0px 36px;
  font-size: 20px;
  text-align: justify;
}

h2 {
  text-align: center;
  padding: 20px 8px;
  size: 30px;
  color:rgb(4, 4, 104)  ;
  background-color: #F4F4F4;
  background: #f4f7fa;
  box-shadow:0 0 4px 0px rgb(155, 251, 155) inset ;
  //-webkit-text-stroke:0.04px #026829;
  //text-decoration: #dcfde9;
  //text-shadow: 2px 0 0 white , 2px 0 0 white, 2px 0 0 white , 2px 0 0 white;
  //text-decoration:wavy;
  //text-shadow: 1px 1px 3px rgba(135, 251, 58, 0.2);
}

#logo-recy {
  width: 200px;
  // height: 60px;
  margin-left: 20px;
}

.nav-link {
  margin-right: 20px;
  width: 160px;
}

// Carousel

.carousel.slide {
  width: 2000px;
  height: 400px;
  margin: 40px 40px;
  padding: 25px 60px;
  box-shadow: #1CDD87
  
}

#carouselExampleCaptions {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  border-radius: 9px 9px 9px 9px;
}

.carousel-item {
  border-radius: 9px 9px 9px 9px;
}

.carousel-item{
  width: 2000px;
  height: 400px;
}

h3 {
  size: 12px;
  padding: 20px;
  text-align: center;
}

// Footer

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: 45px;
  box-shadow: #7a7a7a;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(38, 155, 3);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #4ed233;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: #dcfde9;
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(135, 251, 58, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#Packages-title {
  align-items: center;
  display: flex;
}

// nav bar

.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
  box-shadow: 0 0 3px 0px rgb(1, 167, 1) inset !important;
}
// navbar buttons

a.nav-link.btn.btn-flat {
  color: #16B756;
  margin: 10px 10px;
  padding: 8px 4px;
  border-radius: 50px;
  background: white;
  transition: background 0.3s ease;
  font-size: 20px;
}

a.nav-link.btn.btn-flat:hover {
  color: #ffffff;
  opacity: 2;
  background: #1CDD87;
  text-decoration: none;
}

// Avatar

.avatar-large {
  width: 56px;
  border-radius: 50%;
  margin-right: 40px;
  margin-left: 55px;
  margin-top: 5px;
}

// Dropdown menu

a.dropdown-item:hover {
  color: #ffffff;
  opacity: 2;
  background: #1CDD87;
  text-decoration: none;
}

div.dropdown-menu.dropdown-menu-end.show {
  margin-right: 40px;
}

.row {
  margin: 20px 20px;
}

// Line work
#Container-Outline {
  margin-top:-15px ;
  //outline: 1px solid rgb(1, 167, 1);
  box-shadow: 0 0 4px 0px rgb(155, 251, 155) inset !important;
  background-image: linear-gradient(to bottom left, rgb(241, 227, 227) , rgb(131, 250, 131));
  height:750px
}
