<div id="Container-Outline">   
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1646415427/Recy-Buddies/Think-Cans_i67goa.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Recy-Buddies</h1>
          <h3>Was created to promote a recycling culture in developing countries ♻️🤍</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1646415429/Recy-Buddies/think-cans-recycling-aluminium_d5mkqa.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Recy-Buddies</h1>
          <h3>Was created to promote a recycling culture in developing countries ♻️🤍</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1646415425/Recy-Buddies/Think-Cans-How-To-Recycle_kzmviz.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Recy-Buddies</h1>
          <h3>Was created to promote a recycling culture in developing countries ♻️🤍</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/vmontenegro7/image/upload/v1646415635/Recy-Buddies/think-cans-cash-from-cans_ignwjc.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>Recy-Buddies</h1>
          <h3>Was created to promote a recycling culture in developing countries ♻️🤍</h3>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="cards">
    <div>
      <h2><strong>User</strong></h2>
      <p class="home-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit molestias,
      minima in voluptatibus nostrum aut eos nobis ipsa totam iure possimus odio dolores
      eveniet eligendi earum, sint enim cum velit.</p>
    </div>
    <div>
      <h2><strong>Recycler</strong></h2>
      <p class="home-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit molestias,
      minima in voluptatibus nostrum aut eos nobis ipsa totam iure possimus odio dolores
      eveniet eligendi earum, sint enim cum velit.</p>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>


