i.fab.fa-github:hover {
  color: #161B22;
}
i.fab.fa-facebook:hover {
  color: #4267B2;
}
i.fab.fa-twitter:hover {
  color: #1DA1F2;
}
i.fab.fa-instagram:hover {
  color: #E1306C;
}
i.fab.fa-linkedin:hover {
  color: #0072b1;
}
